@import 'https://fonts.googleapis.com/css?family=Bangers|Oswald';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';


header {
  text-align: center;
  font-size: 25px;
  font-family: 'Bangers', cursive;

}

header h1 {
  color: black;
}

nav {
  text-align: center;

}

nav ul li {
  display: inline;
  color: black;
  text-align: center;
  font-family: 'Poiret One', cursive
  }

.icon {
  /*display: inline;*/
  width: 100px;
  margin: auto .5vw auto .5vw;
}


body {
  background-image: url(http://thesfshipyard.com/wp-content/uploads/2014/04/SHIPYARD_CRANE2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.main-content {
  text-align: center;
  padding-bottom: 10px;
  background-color: rgba(35, 32, 33, 0.73);
  padding: 10px;
  border: 5px solid white;
}

.name {
  color: crimson;
  font-weight: bold;
}

.main-content h2 {
  color: white;
  font-family: 'Bangers', cursive;
}

.main-content p {
  color: white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

footer {
  text-align: center;
  /*border: 1px dashed black*/
}

.warriors {
    color: yellow;
    background-color: black;
    padding: 5px;
    font-family: 'Bangers', cursive;
  }

.giants {
  color: orange;
  background-color: black;
  padding: 5px;
  font-family: 'Bangers', cursive;  color: orange;
}

.copyright {
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: black;
}

.container {
  width: 10mw;
  /*background-color: black;*/
}
